<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 加载 properties文件配置信息 -->
    <bean id="propertyConfigurer" class="com.renguangli.gateway.Configurations">
        <property name="locations">
            <list>
                <value>application.properties</value>
            </list>
        </property>
    </bean>

    <!-- IOC组件扫描 -->
    <context:component-scan base-package="com.renguangli.gateway"/>

    <bean id="cacheManager" class="org.springframework.cache.support.CompositeCacheManager">
        <property name="cacheManagers">
            <list>
                <bean class="org.springframework.cache.support.SimpleCacheManager"/>
            </list>
        </property>
        <!-- 都找不到时，不返回null，而是返回NOP的Cache -->
        <property name="fallbackToNoOpCache" value="true"/>
    </bean>

    <!-- 注册数据源 -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/api-gateway" />
        <property name="username" value="root" />
        <property name="password" value="root" />
    </bean>

    <!-- myBatis -->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="typeAliasesPackage" value="com.renguangli.pojo" />
        <!-- value: myBatis 中的 mapper.xml文件所在路径 -->
        <property name="mapperLocations" value="classpath:com/renguangli/gateway/mapper/xml/ApiMapper.xml" />
    </bean>
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- value: myBatis 中的 mapper接口所在包路径 -->
        <property name="basePackage" value="com.renguangli.gateway.mapper" />
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <!-- 开启事务注解 -->
    <tx:annotation-driven transaction-manager="transactionManager" />
</beans>